
<div class="text-center">
	<h1>请从菜单选择功能</h1>
</div>
<!--
<div class="row">
	<div id="left_side" class="col-md-2">
		<a href="javascript:void(0)" onclick="$('.list-group').toggle('slow',edit_hide_cebian());" id="hide_cebianlan"><<</a>
		<div class="list-group">
		  <%#<% for menu in Admin::Menu.where(hide: false).order("position") %>                             %>
		  <%#    <% if @admin_user.menu.exists?(menu.id) || @admin_user.name == "admin" %>                  %>
		  <%#        <a target="content" href="<%= menu.url %>" class="list-group-item"><%%= menu.text %></a>%>
		  <%#    <% end %>                                                                                  %>
		  <%#<% end %>                                                                                      %>
		</div>
	</div>
	<div class="col-md-10" id="admin_content">
		<iframe SCROLLING="auto" height="600px" width="100%" frameborder="0"  id="content" name="content" ></iframe>
	</div>
</div>
<script type="text/javascript">
	function edit_hide_cebian(){
		if ($('#hide_cebianlan').text()=='<<') {
			$('#hide_cebianlan').text('>>');
			$('#left_side').attr('class', '')
		}else{
			$('#hide_cebianlan').text('<<');
			$('#left_side').attr('class', "col-md-2")
		}
		if ($('#admin_content').attr('class')=='col-md-10') {
			$('#admin_content').attr('class','col-md-12');
		}else{
			$('#admin_content').attr('class','col-md-10');
		}
	}
</script>


-->
