<section>
<header>登陆</header>
<form action="" method="">
  <input class="text-center" type="text" placeholder="请输入手机号" required="required" onfocus="this.placeholder=''"  onblur="this.placeholder='请输入手机号'" value="" />
  <input class="text-center" type="password" placeholder="请输入密码" required="required" onfocus="this.placeholder=''"  onblur="this.placeholder='请输入密码'" value="" />
  <input class="text-center" type="submit" value="登陆" />
</form>
<p class="text-center agre"><img src="/img/ok.png" />同意<a href="/serve">《奇衣果用户服务条款》</a></p>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog1" role="document">
    <div class="modal-content modal-content1">
      <div class="modal-header modal-header1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="/img/del-.png" /></button>
      </div>
      <div class="modal-body text-center loginas">
        <p>美女，你的个人资料还没完善哦！</p>
        <a class="btn btn-danger btn-danger1 btn1" href="manner-1.html">现在就去</a>
        <a class="btn btn-danger btn-danger1 btn1" href="personalAll.html">稍后吧</a>
      </div>
    </div>
  </div>
</div>
</section>
<script>
  <%#$(document).ready(function(){  %>
  <%#  $("#myModal5").modal('show');%>
  <%#})                             %>
</script>
