<section>
<header>我 美了 美了 美了</header>
<div class="view">
  <div class="row text-center">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="#">
        <img src="img/designer_2.png"/>
      </a>
      <p>故事场景———办公室奇衣记</p>
    </div>
  </div>
</div>
</section>
