<%= stylesheet_link_tag    'designervideo', media: 'all', 'data-turbolinks-track' => true %>
<section>
<header>我 美了 美了 美了</header>
<div class="view">
  <div class="row text-center">
    <% @video.each do |video|%>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="butaf" href="/video?id=<%= video.id%>" target="_blank">
          <img src="<%= video.logo%>"/>
        </a>
        <p><%= video.name%></p>
      </div>
    <%end%>
  </div>
</div>
</section>
