<%= stylesheet_link_tag    'manner', media: 'all', 'data-turbolinks-track' => true %>
<section class="row">
<header>风格测试中</header>
<div class="mannerA col-md-2">
  <p class="text-center left"><a href="/home/manner_3.html">Back</a></p>
</div>
<div class="col-md-8">
  <div class="row manner text-center">
    <h2 class="colour">NO.4你的身材会有以下的情况吗？</h2>
    <figure class="col-md-3 col-sm-6 col-xs-12">
    <div class="sss">
      <p><span>胸器袭人,</span></p>
      <img src="/img/manner4_1.png"/>
    </div>
    <figcaption>胸器袭人</figcaption>
    </figure>
    <figure class="col-md-3 col-sm-6 col-xs-12">
    <div class="sss">
      <p><span>腰部赘肉,</span></p>
      <img src="/img/manner4_2.png"/>
    </div>
    <figcaption>腰部赘肉</figcaption>
    </figure>
    <figure class="col-md-3 col-sm-6 col-xs-12">
    <div class="sss">
      <p><span>臀部较大,</span></p>
      <img src="/img/manner4_3.png"/>
    </div>
    <figcaption>臂部较大</figcaption>
    </figure>
    <figure class="col-md-3 col-sm-6 col-xs-12">
    <div class="sss">
      <p><span>大腿较粗</span></p>
      <img src="/img/manner4_4.png"/>
    </div>
    <figcaption>大腿较粗</figcaption>
    </figure>
  </div>
</div>
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog1" role="document">
    <div class="modal-content modal-content1">
      <div class="modal-header modal-header1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="/img/del-.png" /></button>
      </div>
      <div class="modal-body text-center selec">
        <p>你有一项或多项测试风格未选择</p>
        <a class="btn btn-danger btn-danger1 btn1" href="#" data-dismiss="modal">确定</a>
      </div>
    </div>
  </div>
</div>
<div class="mannerA col-md-2">
  <p class="text-center right"><a id="next4" href="javascript:;">Next</a></p>
</div>
<p class="col-md-12 text-center clret"><span id="perfectall"><a href="/home/manner_5" style="color: white">我是女神 我没有</a></span></p>
</section>
<script>
  $(function(){
    var h=$(".manner").height();
    $(".mannerA>p").css("margin-top",h/2+80);

    $("figure").each(function(i){
      $("figure").eq(i).click(function(){
        $(this).children(".sss").children("p").toggleClass("eee");
      })
      $("#perfectall").click(function(){
        $("figure").children(".sss").children("p").removeClass("eee");
      })
    })

    $("#next4").click(function(){
      if($(".sss>p").hasClass("eee")){
        var text = $(".eee>span").text();
        alert(text);
        $.ajax({
          type: 'post',
          url: '/home/update_manner',
          data: {"shencai":text},
          success: function(data){
            if (data['code'] == 0) {
              window.location.href="/home/manner_5";
            };
          }
        });
        }else{
        $("#next4").attr({"href":"javascript:;","data-toggle":"modal","data-target":"#myModal8"});
      }
    })
  })
</script>
