<%= stylesheet_link_tag    'designervideo', media: 'all', 'data-turbolinks-track' => true %>
<section>
<header>奇衣视频</header>
<div style="text-align:center; padding: 4em;">
  <%= @video.url.html_safe%>
</div>
</section>
