<div class="p500 acenter">
	<div class="panel panel-default">
	    <div class="panel-heading">修改密码</div>
	    <div class="panel-body">
			<%= form_tag :action=>"update_password" do %>
			  <table class="table table-bordered table-striped">
			  <tr>
			    <td class="text-right"><label for="admin_admin_email">请输入密码：</label></td>
			    <td><%= password_field_tag :password1, "", :class => 'form-control' %></td>
			  <tr>
			  <tr>
			    <td class="text-right"><label for="admin_admin_email">再输一遍：</label></td>
			    <td><%= password_field_tag :password2, "", :class => 'form-control' %></td>
			  <tr>
			  <tr>
			    <td class="text-center actions" colspan=2>
			      <%= submit_tag "提交", :class => 'btn btn-primary mr20' %>
			    </td>
			  </tr>
			</table>
			<% end %>
			</div>
	  </div>
	</div>
</div>