/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 */

.image{
  width:100px;
  height:100px;
}
.sss>p>span{
  display:none;
}

@font-face {
  font-family: '尚雅体';
  font-weight: normal;
  font-style: normal;
  src: font-url('FZ.eot');
  src: font-url('FZ.eot?#iefix') format('embedded-opentype'),
  font-url('FZ.woff') format('woff'),
  font-url('FZDBSJW_1.ttf') format('truetype'),
  font-url('FZXBSJW_1.ttf') format('truetype'),
  font-url('FZ.svg') format('svg');
                             }
